/* Valerie Loera */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------- Variables -------*/
:root{
    /* ---- Colors ----*/
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue #499BD2;
    --dkGray: #222222;
    --ltGray: #EAEAEA;
    --white: #FFFF;
    --black: #0000;

    /* ---- Fonts ----*/
    --molle-font: "Molle", cursive;
    --mont-font: "Montserrat", sans-serif;
    font-size: 16px;
}

/* ------- Global & Body -------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--white);
    width: 414px;
    margin: 0 auto;
}

body{
    background-color: var(--white);
    min-width: 320px;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: var(--molle-font);
    font-size: 3rem;
}

h4, p, q, small, nav, button, form{
    font-family: var(--mont-font);
}


/* ------- Header -------*/
header{
    background-image: linear-gradient(to bottom, var(--teal) 0%, var(--white) 100%);
    display: grid;
    position: relative;
}

#logo img{
    width: 40%;
    height: auto;
}

#toggle{
    display: none;
}

header h1{
    padding-left: 30px;
    padding-right: 90px;
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: large;
}

header label{
    position: absolute;
    top: 25px;
    right: 0;
    cursor: pointer;
    padding: 10px 70px;
    background-color: var(--yellow);
    color: var(--black);
    width: 175px;
}

nav ul{
    display: none;
}

#toggle:checked + label + ul{
    display: block;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: var(--yellow);
    color: var(--black);
    width: 175px;
}

header h2{
    display: none;
}

#skip{
    background: #e77e23;
    padding: 4px;
    position: absolute;
    left: 40%;
    top: 0%;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: -1;
}
  
#skip:focus{
    transform: translateY(0%);
    z-index: 9999;
}



/* ------- Main -------*/

#intro{
    background-color: var(--white);
}

#intro h2{
    font-size: 2rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

#intro p{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    line-height: 1.5;
}

#img-grid img{
    width: 100%;
    padding-bottom: 15px;
}

#img-grid picture img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}

#plan{
    background-color: var(--yellow);
}

#plan h3{
    font-size: 2rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

#plan div{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#plan section{
    background-color: var(--teal);
    margin: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top:40px;
    padding-bottom:40px;
    border: 6px solid white;
}

#plan section h4{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

#plan img{
    margin: auto; 
    width: 225px; 
    height: 225px;
}

#testimonials{
    padding-bottom:20px;
    background-color: var(--white);
}
#testimonials h3{
    font-size: 2rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

#testimonials div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    justify-content: center; 
    gap: 20px; 
}

#testimonials section {
    text-align: center; 
}

#testimonials h4{
    font-size: 28px;
    text-transform: uppercase;
    font-variation-settings: 'wght' 550;
    padding-top: 6px;
    width: 270px;
    line-height: 1.25em;
    margin: 0 auto;
}

#testimonials p{
    font-size: 18px;
    font-variation-settings: 'wght' 320;
    padding-left: 20px;
    padding-right: 20px;
}

#testimonials q{
    font-size: 18px;
    font-variation-settings: 'wght' 340;
    font-style: italic;
    width: 250px;
    display: block;
    line-height: 1.3em;
    margin: 0 auto;
}

#about{
    background-color: var(--blue);
}

#about h3 {
    font-size: 2.5rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

#about div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px; 
    padding: 20px; 
}

#about section {
    text-align: center; 

    padding: 20px; 
}

#about img {
    display: block; 
    margin: 0 auto 10px; 
    width: 100px; 
    height: 100px; 
}

#contact h3{
    padding-top: 30px;
    font-size: 36px;
    margin-top: 10px;
}
h3 span{
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: italic;
}
#names{
    padding-bottom: 15px;
}
#contact{
    background-color: var(--white);
}
form{
    display: block;
    width: 300px;
    margin: 0 auto;
    color: #222;
    font-size: 1.1em;
}
#contact label{
    text-transform: uppercase;
    font-variation-settings: 'wght' 550;
    padding-left:0;
    font-size: 18px;
}
#nums legend{
    text-transform: uppercase;
    font-variation-settings: 'wght' 550;
    padding-left:0;
    font-size: 18px;
}
#nums label{
    text-transform: none;
    font-variation-settings: 'wght' 380;
}
#names input::placeholder{
    font-family: 'Montserrat';
}
#nums input::placeholder{
    font-family: 'Montserrat';
}
input, label, fieldset{
    display: block;
    width:100%;
}
.required{
  display: inline-block;
  color: var(--purple);
  padding-left: 1px;
  font-size: 1.1em;
  font-weight: bold;
}
label{
    padding-left: 0.5em;
    margin: 0.75em 0 0.25em 0;
}

#nums input[type="radio"] {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    vertical-align: middle;
}
#nums label {
    display: flex;
    align-items: center;
}
#nums input[type="radio"] + span.radio-label {
    order: -1;
}
#nums input[type="radio"] + span.radio-label {
    margin-right: 10px;
}

input{
    font-size: 1em;
    padding: 1.5em;
    padding-left: 8px;
    border: 3px solid var(--purple);
    height: 1.5em;
}
fieldset{
    display: grid;
    grid-template-columns: 1fr;
}
#selects select{
    width: 100%;
    padding: 1.5em;
    border: 3px solid var(--purple);
    padding-left: 8px;
}
input[type=submit]{
    padding: 1em;
    width: 100%;
    height: auto;
    color: var(--white);
    background-color: var(--purple);
    border: none;
    font-family: serif;
    margin-top: 20px;
    margin-bottom: 18px;
}
#mySubmit{
    font-family: 'Montserrat';
    text-transform:uppercase;
    font-variation-settings: 'wght' 500;
}
textarea{
    width: 100%;
    height: 5em;
    margin-bottom: 1em;
}
input:focus, textarea:focus{
    border-color: var(--purple);
    box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.3);
    border-radius: 4px;
}

footer{
    background-color: var(--ltGray);
    padding-top: 12px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
    font-size: 14px;
    padding-bottom: 20px;
}
footer a{
    text-decoration: none;
    color: var(--blue); 
}


/* ------- Media Queries -------*/
@media screen and (min-width:768px){

    html{
        width: auto;
    }
    
    body{
        width:auto;
    }
    
    header label{
        display: none;
    }
    
    
    nav{
        width: 700px;
        margin: 0 auto;
        position: relative;
        bottom: 80px;
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr;
        gap: 10px;
        grid-auto-flow: column;
        padding:30px;
        
    }
    
    nav a{
        background-color: var(--white);
        color: var(--black);
        width: 175px;
        padding:20px;
        height: 50px; 
    
        text-align: center;
    }
    
    ul a{
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    header p {
        padding-left: 30px;
        padding-right: 400px;
        padding-bottom: 20px;
        line-height: 1.5;
        font-size: large;
        position: relative;
        top: -80px;
        left: 350px;
    }
    
    h1{
        position: relative;
        top: -90px;
        left: 350px;
    }
    
    #intro h2{
        padding-left: 40px;
    }
    
    #intro p {
        padding-bottom: 5px;
        padding-left: 40px;
    }
    
    #logo img{
        position: relative;
        bottom: -40px;
        left: 30px;
    }
    
    #img-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        scale: 90%;
        align-items: center;
        margin-top: -20px;
    }
    
    #img-grid img {
        width: 100%;
        height: 400px;
        padding-bottom: 0;
    }
    
    #img-grid picture {
        grid-column: span 2;
    }
    
    #plan{
        padding-top: 10px;
    }
    #plan div {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center; 
        gap: 20px;
        scale: 80%;
        margin-top: -50px;
    }
    
    #plan section {
        background-color: var(--teal);
        margin: 10px -5px; 
        padding: 40px 75px; 
        border: 6px solid white;
    }
    
    #plan section h4 {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    #plan h3{
        padding-left: 80px;
    }
    
    #testimonials div{
        scale: 80%;
        margin-top: -40px;
    }
    
    #testimonials h3{
        padding-left:100px;
        padding-top: 30px;
    }
    
    #about h3{
        padding-left: 80px;
    }
    
    #about div {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px; 
        padding: 20px; 
        scale: 90%;
        margin-top: -30px;
    }
    
    #about section {
        text-align: center; 
        padding: 20px; 
    }
    
    #contact h3{
        padding-left: 80px;
    }
    
    form{
        width: 80%;
    }
    
    fieldset{
        display:flex;
    }
}

@media screen and (min-width:957px){

    html{
        width:1024px;
    }
    
    header p{
        top: -70px;
        left: 190px;
    }
    
    #logo img{
        width: 225px; 
    }

    h1{
        top: -60px;
        left: 190px;
    }

    nav{
        position: relative;
        top: -228px;
        left: 293px;
        scale: 70%
    }

    #intro p{
        width: 450px;
    }
    #img-grid{
        margin-top: -300px;
        width: 615px;
        margin-left: 412px;
        scale: 80%;
    }
    #plan h3{
        padding-top: 50px;
    }
    #plan div{
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
        width: 174px;
        scale: 63%;
    }
    #plan section{
        margin-bottom: 40px;
    }
    #testimonials div{
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #about div{
        padding-left: 20px;
        padding-right: 20px;
    }
    #names {
        position: relative;
        right: 160px;
    }
    #nums fieldset{
        position: relative;
        left: -2px;
        width: 60%;
        top: -8px;
        padding-bottom: 10px;
    }
    #contact input{
        width: 40%;
    }
    #nums{
        position: relative;
        left: 89px;
        top: -189px;
    }
    #nums input[type="radio"] {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        vertical-align: middle;
    }
    #nums input{
        width: 58%;
    }
    #selects select{
        width: 50%;
    }
    #selects{
        position: relative;
        top: -485px;
        left: 448px;
    }
    
    form{
        width:58%;
    }

    input[type=submit]{
        margin-left: 70px;
        scale: 85%;
    }
    #contact{
        height: 400px;
    }
    #contact form{
        height: 200px;
    }
    #footer p{
        position: relative;
        left: 0px;
    }
}

